.dashboard {
  @include clearfix;
  border: 1px solid $base-border-color;
  border-radius: 5px;
  display: table;
  min-height: 500px;
  padding: 2em;
  width: 100%;

  @include media($large-screen) {
    padding: 1em;
  }
}

aside.org-nav {
  @include span-columns(3 of 12, table);
  box-shadow: 1px 0 0 0 $base-border-color;
  min-width: 250px;
  overflow: hidden;
  position: relative;
  vertical-align: top;

  @include media($large-screen) {
    display: none;
  }

  &.closed {
    section.all-orgs {
      @include transform(translateX(120%));
      opacity: 0;
    }

    section.current-org {
      opacity: 1;
    }
  }

  section.current-org,
  section.all-orgs {
    @include transition(all 0.3s ease-out);
    overflow-y: scroll;
    position: relative;

    > header {
      border-bottom: 1px solid $base-border-color;
      display: table;
      height: 60px;
      width: 100%;

      .title-wrapper,
      .menu-toggle {
        display: table-cell;
        height: 100%;
        vertical-align: middle;
      }

      .icon {
        @include size(24px);
        border-radius: 3px;
        background: rgb(220,220,220);
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        display: inline-block;
        margin-right: 0.3em;
        vertical-align: middle;
      }

      h2 {
        color: $medium-font-color;
        display: inline-block;
        margin: 0;
        font-weight: 300;
        vertical-align: middle;
      }
    }

    .menu-toggle {
      text-align: right;
      width: 30px;

      .toggle {
        color: $light-font-color;
        display: block;
        line-height: 60px;
        padding: 0 1em;

        &:hover {
          color: $base-font-color;
        }
      }

      i.fa {
        display: inline-block;
        padding-top: 4px;
      }
    }

    nav {
      padding-top: 1em;

      ul ~ ul {
        border-top: 1px dotted rgb(220, 220, 220);
        margin-top: 1em;
        padding-top: 1em;
      }

      li {
        padding: 0.8em 1em 0.8em 0;

        .icon {
          @include size(24px);
          border: 1px solid $base-border-color;
          border-radius: 50%;
          display: inline-block;
          margin-right: 0.3em;
          vertical-align: middle;

          &.org {
            border-radius: 3px;
            background: rgb(220,220,220);
            background-size: cover;
            background-position: 50% 50%;
            background-repeat: no-repeat;
          }
        }

        a {
          color: $light-font-color;
          display: inline-block;
          font-weight: 300;
          vertical-align: middle;

          &:hover {
            color: $medium-font-color;
          }

          &.current {
            color: $medium-font-color;
            font-weight: 400;
          }
        }
      }
    }
  }

  section.all-orgs {
    @include position(absolute, 0px 0px 0px 0);
    @include transform(translateX(0%));
    opacity: 1;
    z-index: 2;
  }

  section.current-org {
    opacity: 0;
    z-index: 1;
  }
}

.repo-listing {
  vertical-align: top;
  width: 100%;

  @include media($large-screen) {
    border: none;
    padding: 0;
    width: 100%;
  }

  nav.repo-tools {
    background: $white;
    display: table;
    padding: 0em 0em 0em;
    width: 100%;
    vertical-align: middle;

    .search-wrapper {
      @include span-columns(5 of 12, table);
      padding-right: 1em;
      position: relative;
      vertical-align: top;

      @include media($small-screen) {
        display: block;
        margin-bottom: 1em;
        padding: 0;
        width: 100%;
      }

      i.fa-search {
        @include position(absolute, 16px null null 1em);
        @include user-select(none);
        color: rgba(255,255,255,0.6);
        display: none;
        font-size: 15px;
      }

      input.search {
        @include transition(all 0.25s ease-out);
        @include box-sizing(border-box);
        background-color: rgb(248,248,248);
        border: 2px solid $base-border-color;
        border-radius: 3px;
        color: $light-font-color;
        display: block;
        font-weight: 400;
        height: 60px;
        letter-spacing: 1px;
        margin: 0;
        padding: 0.8em 1em;
        width: 100%;

        &:hover,
        &:focus {
          outline: none;
          background-color: rgba($purple, 0.1);
          border-color: $purple;
          color: $purple;

          @include placeholder {
            color: $purple;
          }
        }

        @include placeholder {
          @include transition(color 0.25s ease-out);
          color: $light-font-color;
          font-weight: 400;
          letter-spacing: 1px;
        }
      }
    }


    .refresh-wrapper, .include-private-repos-wrapper {
      vertical-align: top;
    }

    .include-private-repos-wrapper {
      @include span-columns(4 of 12, table);
      @include media($medium-screen) {
        display: none;
      }

      padding-right: 1em;
    }

    .refresh-wrapper {
      @include span-columns(3 of 12, table);
      @include media($small-screen) {
        display: block;
        width: 100%;
      }
    }

    button.refresh, button.include-private-repos {
      @include transition(all 0.15s linear);
      background-color: rgb(248,248,248);
      border-radius: 3px;
      border: 2px solid $base-border-color;
      color: $light-font-color;
      font-size: 1em;
      font-weight: 400;
      letter-spacing: 1px;
      height: 60px;
      margin: 0;
      padding: 0.8em 1em;
      text-align: center;
      vertical-align: middle;
      width: 100%;

      &:hover {
        background-color: $purple;
        border-color: $purple;
        color: $white;
      }

      &:disabled {
        opacity: 0.5;
      }
    }
  }

  .loading {
    background-color: $white;
    padding: 4em 1em;
    text-align: center;

    .dot {
      @include size(24px);
      @include animation(loading 1.3s ease-out);
      @include animation-iteration-count(infinite);
      background-color: rgba($green, 0.1);
      border-radius: 100%;
      border: 1px solid $green;
      display: inline-block;
      opacity: 0.1;
      margin: 0 1.2em;

      &:nth-child(2) {
        @include animation-delay(0.2s);
      }

      &:nth-child(3) {
        @include animation-delay(0.4s);
      }
    }
  }

  li.repo {
    @include clearfix;
    display: table;
    height: 80px;
    padding: 0;
    position: relative;
    width: 100%;

    @include media($small-screen) {
      display: block;
      height: auto;
      padding: 1em 0;
    }

    &~ li {
      border-top: 1px solid $base-border-color;
    }

    &:before {
      @include transition(all 0.25s linear);
      color: $light-font-color;
      content: '\f013';
      display: inline-block;
      font-size: 1.6em;
      font-family: $icon-font;
      opacity: 0;
      position: absolute;
      top: 22px;
      visibility: hidden;
    }

    .repo-name {
      @include transition(all 0.25s linear);
      color: $medium-font-color;
      display: table-cell;
      font-size: 1.5em;
      font-weight: 300;
      height: 100%;
      overflow: hidden;
      position: relative;
      text-overflow: ellipsis;
      vertical-align: middle;

      @include media($small-screen) {
        display: block;
        font-size: 1.2em;
        font-weight: 400;
        letter-spacing: 1px;
        margin-bottom: 0.6em;
      }

      span {
        display: inline-block;
        padding-bottom: 2px;
      }
    }

    .activation-toggle {
      display: table-cell;
      height: 100%;
      padding-left: 1em;
      text-align: right;
      vertical-align: middle;

      @include media($small-screen) {
        display: block;
        text-align: left;
        padding: 0;
      }

      span.private-label {
        background: lighten($gold, 50%);
        border: 1px solid lighten($gold, 3%);
        border-radius: 3px;
        color: darken($gold, 5%);
        display: none;
        font-weight: 300;
        font-size: 0.9em;
        letter-spacing: 1px;
        margin-right: 0.6em;
        text-align: center;
        padding: 0.2em 0.6em;
        vertical-align: middle;

        @include media($small-screen) {
          margin: 0.1em 0 0 0.6em;
        }

        i.fa {
          color: $gold;
          display: inline-block;
          margin-right: 0.2em;
        }
      }

      &.private {
        min-width: 250px;

        span.private-label {
          display: inline-block;
        }
      }

      .toggle {
        @include transition(none);
        @include user-select(none);
        border-radius: 20px;
        background: rgba($purple, 0.1);
        border: 2px solid $purple;
        color: $purple;
        display: inline-block;
        font-weight: 400;
        letter-spacing: 1px;
        padding: 0.4em 1em;
        text-align: center;
        vertical-align: middle;

        @include media($small-screen) {
          float: left;
          padding: 0.2em 0.8em;
        }

        &:before {
          content: 'Activate';
          display: inline;
        }

        &:hover {
          background-color: $purple;
          color: $white;
        }

        &:disabled {
          opacity: 0.5;
        }
      }
    }

    &.processing {
      &:before {
        opacity: 1;
        visibility: visible;
        @extend .fa-spin;
      }

      .repo-name {
        padding-left: 1.4em;
      }
    }

    &.active .toggle {
      background-color: $green;
      border-color: darken($green, 30%);
      color: darken($green, 40%);

      &:before {
        content: 'Active';
      }

      &:hover {
        background-color: $red;
        border-color: $red;
        color: $white;

        &:before {
          content: 'Deactivate';
        }
      }
    }
  }
}
