.dashboard {
  @include clearfix;
  border: 1px solid $base-border-color;
  border-radius: 5px;
  padding: 2em;
}

aside {
  float: left;
  width: 300px;
}

.repo-listing {
  border-left: 1px solid $base-border-color;
  margin-left: 300px;
  padding: 1em 0 0 1em;

  @include media($small-screen) {
  }

  nav.repo-tools {
    background: #fff;
    display: table;
    padding-bottom: 1em;
    width: 100%;
    vertical-align: middle;

    .search-wrapper {
      display: table-cell;
      position: relative;

      i.fa-search {
        @include position(absolute, 1em null null 0.8em);
        @include user-select(none);
        color: $light-font-color;
        font-size: 1.3em;
      }

      input.search {
        @include transition(all 0.25s ease-out);
        @include box-sizing(border-box);
        background-color: rgb(248,248,248);
        border: 1px solid $base-border-color;
        color: $light-font-color;
        display: block;
        height: 60px;
        margin: 0;
        padding: 0.8em 0.8em 0.8em 2.6em;
        width: 100%;

        &:focus {
          outline: none;
        }

        @include placeholder {
          color: $light-font-color;
          font-weight: 300;
          letter-spacing: 1px;
        }
      }
    }

    a.refresh {
      background-color: rgb(248,248,248);
      border: 1px solid $base-border-color;
      border-left: none;
      color: $light-font-color;
      display: table-cell;
      font-size: 1em;
      font-weight: 300;
      letter-spacing: 1px;
      margin: 0;
      padding: 0;
      text-align: center;
      vertical-align: middle;
      width: 200px;

      i.fa {
        color: inherit;
        margin-right: 0.2em;
        font-size: 1.3em;
        padding-top: 2px;
        vertical-align: middle;
      }

      span {
        color: inherit;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  .loading {
    background-color: #fff;
    padding: 1.1em 1.9em 1em;
    text-align: center;

    .dot {
      @include size(20px);
      @include animation(loading 1.3s ease-out);
      @include animation-iteration-count(infinite);
      background-color: rgba($green, 0.1);
      border-radius: 100%;
      border: 1px solid $green;
      display: inline-block;
      opacity: 0.15;
      margin: 0 1.2em;

      &:nth-child(2) {
        @include animation-delay(0.2s);
      }

      &:nth-child(3) {
        @include animation-delay(0.4s);
      }
    }
  }

  li.repo {
    @include clearfix;
    display: table;
    height: 80px;
    padding: 0em 0.6em;
    position: relative;
    width: 100%;

    &~ li {
      border-top: 1px solid $base-border-color;
    }

    @include media($small-screen) {
      padding: 1.1em 1em 1em;
    }

    &:before {
      @include transition(all 0.25s linear);
      @extend .fa-spin;
      border-radius: 50%;
      color: rgb(210,210,210);
      content: '\f013';
      display: inline-block;
      font-size: 1.6em;
      font-family: $icon-font;
      opacity: 0;
      position: absolute;
      top: 30%;
      visibility: hidden;
    }

    .repo-name {
      @include transition(all 0.25s linear);
      color: $light-font-color;
      display: table-cell;
      font-size: 1.6em;
      font-weight: 300;
      height: 100%;
      overflow: hidden;
      position: relative;
      text-overflow: ellipsis;
      vertical-align: middle;
    }

    .activation-toggle {
      display: table-cell;
      height: 100%;
      text-align: right;
      vertical-align: middle;
      width: 130px;

      .private-indicator {
        display: none;
        font-weight: 300;
        height: 30px;
        margin-right: 0.4em;
        padding-top: 4px;
        vertical-align: middle;

        i.fa {
          color: $gold;
          display: inline-block;
          font-size: 1.2em;
          margin-right: 0.1em;
          vertical-align: middle;
        }

        span {
          color: $gold;
          display: inline-block;
          vertical-align: middle;
        }
      }

      &.private .private-indicator {
        display: inline-block;
      }

      .toggle {
        @include user-select(none);
        background: rgb(230,230,230);
        border-radius: 20px;
        display: inline-block;
        height: 30px;
        padding: 2px;
        position: relative;
        vertical-align: middle;
        width: 60px;

        &:before {
          @include size(26px);
          @include transition(all 0.25s linear);
          background-color: rgb(255,255,255);
          border-radius: 100%;
          content: '';
          display: block;
          position: absolute;
          z-index: 2;
        }
      }
    }

    &.processing {
      &:before {
        opacity: 1;
        visibility: visible;
      }

      .repo-name {
        padding-left: 1.2em;
      }
    }

    &.active .toggle {
      background-color: $green;

      &:before {
        right: 2px;
      }
    }
  }

  @include media($small-screen) {
    border-top: none;
    margin-top: -1em;

    input.search {
      font-size: 1em;
      padding-right: 2.5em !important;

      &[placeholder] {
        font-size: 1em;
        text-overflow: ellipsis;
      }
    }

    .repo-name {
      font-size: 1.1em !important;
    }

    .repo:before {
      font-size: 1em !important;
      top: 1.2em !important;
    }
  }
}
