.dashboard {
  @include clearfix;
  border: 1px solid $base-border-color;
  border-radius: 5px;
  margin-bottom: 6em;
  overflow: hidden;
  padding: 2em;
}

aside {
  box-shadow: 1px 0 0 0 $base-border-color;
  float: left;
  overflow: hidden;
  position: relative;
  width: 300px;

  &.open {
    section.all-orgs {
      @include transform(translateX(0%));
    }

    section.current-org {
      opacity: 0;
    }
  }

  section.current-org,
  section.all-orgs {
    @include transition(all 0.3s ease-out);
    position: relative;

    > header {
      border-bottom: 1px solid $base-border-color;
      display: table;
      height: 60px;
      width: 100%;

      .title-wrapper,
      .menu-toggle {
        display: table-cell;
        height: 100%;
        vertical-align: middle;
      }

      .menu-toggle {
        text-align: right;
        width: 30px;

        a {
          color: $light-font-color;
          display: block;
          line-height: 60px;
          padding: 0 1em;

          &:hover {
            color: $base-font-color;
          }
        }

        i.fa {
          display: inline-block;
          padding-top: 4px;
        }
      }

      .icon {
        @include size(24px);
        border-radius: 3px;
        background: rgb(220,220,220);
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        display: inline-block;
        margin-right: 0.3em;
        vertical-align: middle;
      }

      h2 {
        color: $medium-font-color;
        display: inline-block;
        margin: 0;
        font-weight: 300;
        vertical-align: middle;
      }
    }

    nav {
      padding-top: 1em;

      ul ~ ul {
        border-top: 1px dotted rgb(220, 220, 220);
        margin-top: 1em;
        padding-top: 1em;
      }

      li {
        padding: 0.8em 1em 0.8em 0;

        .icon {
          @include size(24px);
          border: 1px solid $base-border-color;
          border-radius: 50%;
          display: inline-block;
          margin-right: 0.3em;
          vertical-align: middle;

          &.org {
            border-radius: 3px;
            background: rgb(220,220,220);
            background-size: cover;
            background-position: 50% 50%;
            background-repeat: no-repeat;
          }
        }

        a {
          color: $light-font-color;
          display: inline-block;
          font-weight: 300;
          vertical-align: middle;

          &:hover {
            color: $medium-font-color;
          }

          &.current {
            color: $medium-font-color;
            font-weight: 400;
          }
        }
      }
    }
  }

  section.all-orgs {
    @include position(absolute, 0px 0px 0 0);
    @include transform(translateX(120%));
    z-index: 2;
  }

  section.current-org {
    opacity: 1;
    z-index: 1;
  }
}

.repo-listing {
  border-left: 1px solid $base-border-color;
  margin-left: 300px;
  padding: 0em 0 0 2em;

  nav.repo-tools {
    background: #fff;
    display: table;
    padding: 0em 0em 0em;
    width: 100%;
    vertical-align: middle;

    .search-wrapper {
      display: table-cell;
      padding-right: 1em;
      position: relative;

      i.fa-search {
        @include position(absolute, 16px null null 1em);
        @include user-select(none);
        color: rgba(255,255,255,0.6);
        display: none;
        font-size: 15px;
      }

      input.search {
        @include transition(all 0.25s ease-out);
        @include box-sizing(border-box);
        background-color: lighten($purple, 10%);
        border: 1px solid lighten($purple, 10%);
        border-radius: 3px;
        color: #FFF;
        display: block;
        font-weight: 300;
        height: 60px;
        letter-spacing: 1px;
        margin: 0;
        padding: 0.8em 1em;
        width: 100%;

        &:focus {
          outline: none;
          background-color: $purple;
          border-color: $purple;
        }

        @include placeholder {
          color: #FFF;
          font-weight: 300;
          letter-spacing: 1px;
        }
      }
    }

    a.refresh {
      background-color: lighten($purple, 10%);
      border-radius: 3px;
      border: 1px solid lighten($purple, 10%);
      color: #FFF;
      display: table-cell;
      font-size: 1em;
      font-weight: 300;
      letter-spacing: 1px;
      margin: 0;
      padding: 0;
      text-align: center;
      vertical-align: middle;
      width: 200px;

      &:hover {
        background-color: $purple;
        border-color: $purple;
        color: #FFF;
      }

      i.fa {
        color: inherit;
        margin-right: 0.2em;
        font-size: 1em;
        padding-top: 2px;
        vertical-align: middle;
      }

      span {
        color: inherit;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  .loading {
    background-color: #fff;
    padding: 4em 1em;
    text-align: center;

    .dot {
      @include size(24px);
      @include animation(loading 1.3s ease-out);
      @include animation-iteration-count(infinite);
      background-color: rgba($green, 0.1);
      border-radius: 100%;
      border: 1px solid $green;
      display: inline-block;
      opacity: 0.1;
      margin: 0 1.2em;

      &:nth-child(2) {
        @include animation-delay(0.2s);
      }

      &:nth-child(3) {
        @include animation-delay(0.4s);
      }
    }
  }

  li.repo {
    @include clearfix;
    display: table;
    height: 80px;
    padding: 0em 0em;
    position: relative;
    width: 100%;

    &~ li {
      border-top: 1px solid $base-border-color;
    }

    &:before {
      @include transition(all 0.25s linear);
      @extend .fa-spin;
      color: $base-accent-color;
      content: '\f013';
      display: inline-block;
      font-size: 1.6em;
      font-family: $icon-font;
      opacity: 0;
      position: absolute;
      top: 30%;
      visibility: hidden;
    }

    .repo-name {
      @include transition(all 0.25s linear);
      color: $medium-font-color;
      display: table-cell;
      font-size: 1.5em;
      font-weight: 300;
      height: 100%;
      overflow: hidden;
      position: relative;
      text-overflow: ellipsis;
      vertical-align: middle;

      span {
        display: inline-block;
        padding-bottom: 2px;
      }
    }

    .activation-toggle {
      display: table-cell;
      height: 100%;
      text-align: right;
      vertical-align: middle;
      width: 150px;

      span.private-label {
        background: lighten($gold, 40%);
        border: 1px solid $gold;
        border-radius: 3px;
        color: darken($gold, 5%);
        display: none;
        font-weight: 300;
        font-size: 0.9em;
        letter-spacing: 1px;
        margin-right: 0.6em;
        text-align: center;
        padding: 0.2em 0.6em;
        vertical-align: middle;

        i.fa {
          color: $gold;
          display: inline-block;
          margin-right: 0.2em;
        }
      }

      &.private span.private-label {
        display: inline-block;
      }

      .toggle {
        @include transition(all 0.15s linear);
        @include user-select(none);
        background: rgb(228, 215, 201);
        border-radius: 20px;
        display: inline-block;
        height: 28px;
        padding: 2px;
        position: relative;
        vertical-align: middle;
        width: 56px;

        &:before {
          @include size(24px);
          @include transition(all 0.25s linear);
          background-color: rgb(255,255,255);
          border-radius: 100%;
          content: '';
          display: block;
          position: absolute;
          z-index: 2;
        }

        &:hover {
          background-color: darken(rgb(228, 215, 201), 5%);
        }
      }
    }

    &.processing {
      &:before {
        opacity: 1;
        visibility: visible;
      }

      .repo-name {
        padding-left: 1.4em;
      }
    }

    &.active .toggle {
      background-color: $green;

      &:before {
        right: 2px;
      }
    }
  }
}
