.pitch
  %h2 Review your Ruby code for style guide violations with a trusty hound.
  = link_to 'https://github.com/thoughtbot/guides/tree/master/style#ruby', class: 'style-guide', target: '_blank' do
    View the style guide

.cta
  = link_to '/auth/github', class: 'auth button' do
    %i.fa.fa-github
    %span= t('authenticate')
