- content_for :page_title, "Your Repos"

= render 'settings'

.dashboard
  %aside
    %nav.individual-org
      %header.current-org
        %h2 thoughtbot
    %nav.all-orgs
  %section.repo-listing{ 'repo-list' => '' }
  = render 'preload_template', template: 'repo_list'
