- content_for :page_title, 'Your Repos'
- content_for :header_class, "repo-index"
- content_for :container_class, "repo-index"

= render 'settings'

- if display_onboarding?
  = render 'onboarding'

%section.organization-list{ 'organization-list' => '' }
= react_component("ReposContainer",
    authenticity_token: form_authenticity_token,
    has_private_access: current_user.has_access_to_private_repos?,
    userHasCard: current_user.stripe_customer_id.present?,
  )
