- content_for :page_title, 'Your Repos'

= render 'settings'

- if display_onboarding?
  = render 'onboarding'

%section.organization-list{ 'organization-list' => '' }

= javascript_pack_tag("repos_container")
= react_component("ReposContainer",
  has_private_access: current_user.has_access_to_private_repos?,
  userHasCard: current_user.stripe_customer_id.present?,
)
