/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
.byebug_history
/.idea
.vscode/
/coverage/
.DS_Store
.env
heroku_backups/
.pryrc
.env.development
.env.test
/certificates
/storage
latest.dump

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

/config/credentials/development.key
/config/credentials/production.key
/config/credentials/test.key
/config/credentials/staging.key

.env.local
.foreman
/db/*.sqlite3
