class RepoToolsSearch extends React.Component {
  render() {
    return (
      <div className="repo-tools-search">
        <input
          className="repo-search-tools-input"
          placeholder="<%= I18n.t('search_placeholder') %>"
          type="text"
          onChange={(event) => this.props.onSearchInput(event.target.value)}
        />
      </div>
    );
  }
}
