class RepoToolsRefresh extends React.Component {
  render() {
    const { isSyncing, onRefreshClicked } = this.props;

    if (isSyncing) {
      var buttonText = "<%= I18n.t('syncing_repos') %>";
    } else {
      var buttonText = "<%= I18n.t('sync_repos') %>";
    }
    const isDisabled = isSyncing ? "disabled" : null;

    return (
      <div className="repo-tools-refresh">
        <button
          className="repo-tools-refresh-button"
          disabled={isDisabled}
          onClick={onRefreshClicked}
        >
          <span>{buttonText}</span>
        </button>
      </div>
    );
  }
}
