img.logo {
  @include size(auto 100px);
  margin-left: -3em;

  @include media($small-screen) {
    @include size(auto 72px);
    display: block;
    margin: 0 auto;
  }
}

ol.getting-started {
  margin: 2.0em 1.2em;
  padding: 0 0 8em 3em;
  position: relative;

  &:before {
    @include position(absolute, 0.5em 0 0em -1.4em);
    @include background-image(linear-gradient(top, white 0, $base-border-color 5%,
      $base-border-color 95%, white 100%));
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: 3px 100%;
    content: "";
    display: block;
    width: 3px;
    z-index: 1;
  }

  @include media($small-screen) {
    margin: 0;
    padding-left: 0;
    text-align: center;

    &:before {
      @include position(absolute, 2em 0 0em 50%);
    }
  }

  h1.logo {
    letter-spacing: 6px;
    font-weight: 900;
    font-size: 3.8em;
    margin: 0;
    text-transform: uppercase;

    @include media($small-screen) {
      display: inline-block;
      font-size: 3.2em;
      line-height: normal;
      margin-bottom: 0.1em;
    }
  }

  li.step {
    margin-bottom: 8em;
    position: relative;
    z-index: 2;

    @include media($small-screen) {
      background: #fff;
      margin-bottom: 7em;
      padding: 1em 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      @include position(absolute, -0.3em 0 0 -4.4em);
      @include size(40px);
      background: #fff;
      border-radius: 50%;
      border: 2px solid $base-border-color;
      box-shadow: 0 0 0 3px #fff;
      content: "";
      display: block;
      margin-left: -21px;

      @include media($small-screen) {
        @include position(absolute, -4.8em 0 0 50%);
      }
    }

    &:first-child {
      &:before {
        display: none;
      }
    }

    &.step-activate:before {
      background-image: asset-url('landing/icon-switch.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 80%;
    }

    &.step-comment:before {
      background-image: asset-url('landing/icon-comment.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 50%;
    }

    &.step-code:before {
      background-image: asset-url('landing/icon-merge.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 58%;
    }

    &.cta:before {
      color: #acacac;
      content: '\f061';
      font-family: $icon-font;
      font-size: 1.5em;
      left: -2.9em;
      line-height: 40px;
      text-align: center;
      top: 8px;

      @include media($small-screen) {
        left: 50%;
        top: -3.2em;
      }
    }

    &.pitch {
      .tagline {
        margin: 0.4em 0 2em;
      }

      h2 {
        font-size: 1.6em;
        font-weight: 300;
        line-height: 1.6;
        margin: 0 0 0.4em;

        @include media($small-screen) {
          font-size: 1.5em;
          margin: 0 0 0.6em;
        }
      }
    }

    h3 {
      font-size: 1.6em;
      font-weight: 700;
      letter-spacing: 1px;
      margin: 0 0 0.4em;
    }

    p {
      color: $medium-font-color;
      font-size: 1.2em;
      letter-spacing: 0.5px;
      line-height: 1.4em;
      margin: 0 0em;
    }

    figure {
      border-radius: 3px;
      border: 1px solid $base-border-color;
      box-shadow: 0 1px 10px 0 rgba(0,0,0,0.05);
      display: inline-block;
      margin-left: -0.8em;
      margin-top: 1.6em;
      overflow: hidden;
      width: 100%;

      @include media($small-screen) {
        margin-left: 0;
      }

      img {
        display: block;
        width: 100%;
      }
    }
  }
}
