.docs {
  border: $base-border;
  border-radius: $large-border-radius;
  display: flex;
  padding: $medium-spacing;

  @include media($small-screen-only) {
    margin-top: 0;
  }

  @include media($large-screen-up) {
    flex-flow: row nowrap;
  }
}

.docs-article {
  margin-bottom: $large-spacing;

  &:not(:first-child) {
    border-top: 1px dotted $base-border-color;
    padding-top: $large-spacing;
  }
}

.docs-content {
  @include media($medium-screen-up) {
    border-left: $base-border;
    flex: 1;
    padding-left: $medium-spacing;
  }
}

.docs-list {
  @include margin(0 0 $base-spacing $base-spacing);
  list-style: disc;
}

.docs-list-item {
  margin-bottom: $small-spacing;
}

.docs-message {
  background-color: $light-gold;
  border: 1px solid $gold;
  border-radius: $small-border-radius;
  color: $dark-gold;
  font-size: $font-size-small;
  padding: $small-spacing;

  @include media($large-screen-up) {
    font-size: $font-size-base;
  }
}

.docs-nav {
  display: none;

  @include media($medium-screen-up) {
    display: block;
    padding-right: $medium-spacing;
    width: 25%;
  }
}

.docs-nav-link {
  color: $light-font-color;
  display: block;
  padding: $small-spacing 0;
  text-align: right;

  &:hover {
    color: $base-accent-color;
  }
}
