.hound-docs {
  @include clearfix;
  border: 1px solid $base-border-color;
  border-radius: 4px;
  display: table;
  padding: 2em;

  aside.docs-nav {
    @include span-columns(3 of 12, table);
    @include omega;
    padding: 0  2em 0 0;
    vertical-align: top;

    li a {
      color: $light-font-color;
      display: block;
      padding: 0.8em 0;
      text-align: right;

      &:hover {
        color: $base-accent-color;
      }
    }

    .message {
      background: lighten($gold, 50%);
      border-radius: 3px;
      border: 1px solid lighten($gold, 3%);
      color: darken($gold, 10%);
      padding: 1em;
    }
  }

  .doc-content {
    @include span-columns(9 of 12, table);
    border-left: 1px solid $base-border-color;
    padding: 0 0 0 2em;
  }

  article {
    margin-bottom: 3em;

    & + article {
      border-top: 1px dotted $base-border-color;
      padding-top: 3em;
    }

    ul {
      list-style: disc;
      margin-left: 1em;

      li + li {
        margin-top: 1em;
      }
    }
  }

  @include media($small-screen) {
    margin-top: 0;
  }
}
