@import "getting_started";

.landing.benefits {
  .content {
    margin: 0;
    max-width: none;
    padding: 0;
  }

  section + section {
    border-top: 1px solid #ccc;
  }

  .section-content {
    @include outer-container;
  }

  .section-title {
    text-align: center;

    h3 {
      font-weight: 300;
      font-size: em(24px);
      margin-bottom: 0;
    }

    p {
      margin-top: 0;
    }
  }
}

section.intro {
  .hero {
    @include span-columns(8 of 12);
    @include shift(2);
    padding: 6em 0 10em;
    text-align: center;

    h2 {
      font-size: 3em;
      font-weight: 300;
      margin: 0;
    }

    h3 {
      font-weight: 300;
      letter-spacing: 1px;
    }

    .cta {
      padding-top: 2em;
    }
  }

  .supported-languages {
    padding: 3em 0em 4em;
    position: relative;
    text-align: center;

    &:before {
      @include position(absolute, 0% 0 0 25%);
      border-top: 1px solid $base-border-color;
      content: '';
      height: 0px;
      width: 50%;
    }

    h4 {
      margin: 0 0 2em 0;
    }

    ul.languages {
      text-align: center;

      li.language {
        display: inline-block;
        padding: 0 2em;

        .language-logo {
          @include size(100px);
          border-radius: 50%;
          border: 2px solid $base-border-color;
          display: table-cell;
          vertical-align: middle;

          img {
            display: block;
            height: 40px;
            margin: 0 auto;
            width: auto;
          }
        }

        h5 {
          font-size: 1em;
          font-weight: 300;
          margin: 0;
          padding-top: 0.4em;
        }
      }
    }
  }
}

section.importance {
  padding: 5em 0 7em;

  .section-title {
    margin-bottom: 3em;

    h3 {
      margin: 0;
    }
  }

  article {
    @include span-columns(8 of 12);
    @include shift(2);

    &:first-child {
      border-top: 1px solid $base-border-color;
      padding-top: 4em;
    }

    &~ article {
      margin-top: 3em;
    }

    figure.media-object {
      @include span-columns(2 of 8, table);
      text-align: center;
      vertical-align: middle;

      .icon {
        @include size(100px);
        border: 2px solid $base-border-color;
        border-radius: 50%;
        display: inline-block;
      }
    }

    .media-body {
      @include span-columns(6 of 8, table);
      overflow: hidden;
      vertical-align: top;

      h4 {
        margin: 0 0 0.4em 0;
      }
    }
  }
}

section.value {
  padding: 5em 0 0;

  article {
    @include span-columns(8 of 12);
    @include shift(2);
    @include omega;
    text-align: center;

    &~ article {
      margin-top: 3em;
    }

    .media-body {
      margin-bottom: 2em;
    }

    figure.media-object {
      background: rgb(240,240,240);
      height: 200px;
    }
  }
}

section.configuration {
  padding: 4em 0em;

  figure.media-object {
    @include span-columns(4 of 12, table);
    background: rgb(240,240,240);
    height: 250px;
    vertical-align: middle;
  }

  .media-body {
    @include span-columns(6 of 12, table);
    padding-left: $column;
    vertical-align: middle;
  }
}

section.pricing {
  padding: 6em 8em;
  text-align: center;

  .section-title {
    @include span-columns(8 of 12);
    @include shift(2);
    @include omega;
    margin-bottom: 4em;
  }

  article.plans {
    @include span-columns(8 of 12);
    @include shift(2);
    @include omega;
    margin-bottom: 4em;
  }

  .plan {
    @include span-columns(4 of 8);
    border-radius: 4px;
    border: 2px solid $base-border-color;
    padding: 0 1em;
    text-align: center;

    h4 {
      border-bottom: 1px dotted $base-border-color;
      font-weight: 700;
      margin: 0em 0em 2em;
      padding: 2em 0em;

      .fa {
        display: inline-block;
        margin-right: 0.4em;
      }
    }

    .price {
      .dollar-amount {
        padding: 1.4em 0 4em;

        span {
          font-size: 6em;
        }
      }
    }
  }
}

section.security {
  border-bottom: 1px solid $base-border-color;
  padding: 4em 0;

  article {
    @include span-columns(8 of 12);
    @include shift(2);
    @include omega();
    text-align: center;
  }
}
