@import "getting_started";

.landing.benefits {
  .content {
    margin: 0;
    max-width: none;
    padding: 0;
  }

  .section-content {
    @include outer-container;
    max-width: 960px;
    padding: 3em 0;
  }

  h2 {
    font-size: em(24px);
    font-weight: 300;

    & + p {
      margin-top: 0.5em;
    }
  }

  .hound-logo {
    @include span-columns(2.5 of 6);
    float: none;
    margin: 0 auto;
  }

  section + section {
    border-top: 1px solid #ccc;
  }

  .hero {
    padding: 2em 0;

    .section-content {
      text-align: center;
    }
  }

  .hero-image {
    @include span-columns(6);
    @include omega;
  }

  .section-header {
    text-align: center;

    h3 {
      font-weight: 300;
      font-size: em(24px);
      margin-bottom: 0;
    }

    p {
      margin-top: 0;
    }
  }
}

.language-logo {
  height: 30px;
  width: auto;
}

.language-name {
  margin: 0;
}

.supported-languages {
  clear: both;

  h3 {
    font-size: 1em;
  }

  &-list {
    li {
      @include span-columns(1.5 of 6);
      text-align: center;
    }
  }

  .use-case {
    @include row($display: table);
    margin: 1em 0;

    dt {
      font-weight: bold;
    }

    dd {
      margin-left: 0;
    }
  }

  .pricing {
    text-align: center;

    .fa {
      display: block;
    }
  }
}

.plan-tier {
  text-align: center;
}
