- content_for(:title) do
  Job Failures

%header.header
  %h1.header__heading
    = content_for(:title)

%table.collection-data{ "aria-labelledby": "page-title" }
  %thead
    %tr
      %td.cell-label.cell-label--string.cell-label--false
        Error message
      %td.cell-label.cell-label--string.cell-label--false
        Job indexes

  %tbody
    - resources.each do |error_message, job_failures|
      %tr.table__row{ role: "link", tabindex: 0, "data-url": "" }
        %td.cell-data.cell-data--string
          = error_message
        %td.cell-data.cell-data--array
          = job_failures.map(&:index).join(", ")
