.violation-row{ "ng-repeat" => "violation in violations" }
  .violation-name {{ violation.message }}
  .violation-bar
    %span.violation-count {{ violation.count }}
    %svg.svg-container
      %dashboard-bar{ count: "{{ violation.count }}", "max-count" => "{{ maxCount }}" }
