.repo-tools
  .repo-tools-search
    %input.repo-search-tools-input{ 'type' => 'text',
      'placeholder' => t('search_placeholder'),
      'ng-model' => 'search.full_github_name' }
  - unless current_user.has_access_to_private_repos?
    .repo-tools-private
      = button_to '/auth/github?access=full',
        class: 'repo-tools-private-button', 'ng-disabled' => 'syncingRepos' do
        %span {{ includePrivateReposButtonText }}
  .repo-tools-refresh
    %button{ 'class' => 'repo-tools-refresh-button',
      'ng-click' => 'sync()', 'ng-disabled' => 'syncingRepos' }
      %span {{ syncButtonText }}
.repos-syncing{ 'ng-show' => 'syncingRepos' }
  .dot
  .dot
  .dot
%ul.organizations
  .organization{ 'organization' => '',
                'ng-repeat' => 'organization in organizations'}
= render 'preload_template', template: 'organization'
