.repo-name
  %span {{ repo.full_github_name }}
.activation-toggle{ "ng-class": "{private: repo.private}" }
  %span.private-label Private - $12
  %button.toggle{ "ng-click": "toggle()",
    "ng-disabled": "processing",
    "ng-if": "repo.admin" }
  .restricted{ "ng-if": "!repo.admin" }
    = t("cannot_activate_repo")
