.repo-tools {
  background: $white;
  display: table;
  padding: 0 0 2em;
  vertical-align: middle;
  width: 100%;
}

.repo-tools-search {
  @include span-columns(5 of 12, table);
  padding-right: 1em;
  position: relative;
  vertical-align: top;

  @include media($small-screen-only) {
    display: block;
    margin-bottom: 1em;
    padding: 0;
    width: 100%;
  }
}

.repo-search-tools-input {
  background-color: $base-background-color;
  border: 2px solid $base-border-color;
  border-radius: 3px;
  box-sizing: border-box;
  color: $base-font-color;
  display: block;
  font-weight: $font-weight-normal;
  height: 60px;
  letter-spacing: 1px;
  margin: 0;
  padding: 0.8em 1em;
  transition: $base-transition;
  width: 100%;

  &::placeholder {
    color: $base-font-color;
    font-weight: $font-weight-normal;
    letter-spacing: 1px;
    transition: color $base-transition-timing $base-easing;
  }

  &:hover,
  &:focus {
    background-color: rgba($base-accent-color, 0.1);
    border-color: $base-accent-color;
    color: $base-accent-color;
    outline: none;

    &::placeholder {
      color: $base-accent-color;
    }
  }
}

.repo-tools-refresh,
.repo-tools-private {
  vertical-align: top;
}

.repo-tools-private {
  @include span-columns(4 of 12, table);
  padding-right: 1em;

  @include media($medium-screen-down) {
    display: none;
  }
}

.repo-tools-org {
  @include span-columns(3 of 12, table);
}

.repo-tools-refresh {
  @include span-columns(1 of 12, table);
  @include media($small-screen-only) {
    display: block;
    width: 100%;
  }
}

.repo-tools-refresh-button,
.repo-tools-private-button,
.dropdown select {
  background-color: $base-background-color;
  border: 2px solid $base-accent-color;
  border-radius: 3px;
  color: $base-font-color;
  font-size: 1em;
  font-weight: $font-weight-normal;
  height: 60px;
  letter-spacing: 1px;
  margin: 0;
  padding: 0.8em 1em;
  text-align: center;
  transition: $base-transition;
  vertical-align: middle;
  width: 100%;

  &:hover {
    background-color: $base-accent-color;
    border-color: $base-accent-color;
    color: $white;
  }

  &:disabled {
    opacity: 0.5;
  }
}
