@include keyframes(loading) {
  0% {
    opacity: 0.15;
    transform: scale(0.95);
  }

  50% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0.15;
    transform: scale(0.95);
  }
}

@include keyframes(pulse-in) {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }

  50% {
    transform: scale(1.02);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
