button:disabled {
  border-color: $base-border-color;
  color: $base-font-color;

  &:hover {
    background-color: transparent;
    border-color: $base-border-color;
    color: $base-font-color;
  }
}

.button-small {
  @include small-button("outline");
}
