.va-wrapper {
  @include size(100%);
  display: table;
}

.va-cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.content {
  @include outer-container;

  &.repo-index {
    padding-top: 10em;
  }
}

.inner-wrapper {
  @include clearfix;
}
