table {
  border-collapse: collapse;
  width: 100%;

  tr {
    border: 1px solid $base-border-color;
  }

  th,
  td {
    text-align: left;
  }

  td {
    padding: 1em 1.1em;
  }

  th {
    background-color: $table-heading-background-color;
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 1em 1.4em;
    text-transform: uppercase;
  }
}
