body {
  background-color: $white;
  color: $base-font-color;
  font-family: $font-family-default;
  font-size: 1em;
  font-weight: $font-weight-book;
  line-height: $line-height-default;
}

a {
  color: darken($purple, 5%);
  text-decoration: none;
  transition: color 0.15s linear;

  &:hover {
    color: darken($purple, 5%);
  }

  &:focus {
    outline: $focus-outline;
    outline-offset: $focus-outline-offset;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-heading;
  font-weight: $font-weight-regular;
  line-height: $line-height-heading;
  margin-top: 0;
}

h1 {
  font-size: 3em;
  margin: 0 0 0.4em;
}

h2 {
  font-size: 1.2em;
}

p {
  margin: 0 0 1.25em;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

strong {
  font-weight: $font-weight-medium;
}

figure {
  margin: 0;
}
