body {
  background-color: $white;
  color: $base-font-color;
  font: $font-weight-light 1em / 1.4 "Lato";
}

a {
  color: darken($purple, 5%);
  text-decoration: none;
  transition: color 0.15s linear;

  &:hover {
    color: darken($purple, 5%);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal;
  margin-top: 0;
}

h1 {
  font-size: 3em;
  font-weight: $font-weight-light;
  letter-spacing: 1px;
  margin: 0 0 0.4em;
}

h2 {
  font-size: 1.2em;
  font-weight: $font-weight-light;
  letter-spacing: 1px;
}

p {
  margin: 0 0 1em;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}
