$font-family-default: "Lato", $font-stack-system;
$font-family-heading: $font-stack-georgia;
$font-family-code: $font-stack-monaco;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$base-line-height: 1.4;

$green: rgb(132, 240, 156);
$purple: rgb(168, 115, 209);
$red: rgb(255, 123, 123);
$teal: #379a75;
$gold: rgb(226, 206, 0);
$dark-gold: darken($gold, 10%);
$light-gold: lighten($gold, 50%);
$tan: rgb(255, 220, 173);
$white: #fff;
$black: #000;

$ruby: rgb(193, 30, 29);
$javascript: rgb(246, 221, 0);
$coffee-script: rgb(19, 18, 38);
$scss: rgb(196, 73, 137);

$active-color: $teal;
$repo-list-toggle-size: 1.5rem;

$base-text-shadow: 0 1px 2px rgba($black, 0.2);

$base-background-color: rgb(248, 248, 248);
$base-border-color: rgb(220, 220, 220);
$base-font-color: rgb(100, 100, 100);
$medium-font-color: rgb(140, 140, 140);
$base-accent-color: $purple;
$base-secondary-color: lighten($purple, 10%);
$table-heading-background-color: rgb(245, 245, 245);
$code-background-color: rgba(#99abc0, 0.25);

$home-gradient-top: rgb(196, 115, 209);
$home-gradient-bottom: rgb(153, 115, 209);

$icon-font: "FontAwesome";
$icon-dropdown: "\f0d7";
$icon-dropup: "\f0d8";
$icon-lock: "\f023";

$medium-header-breakpoint: 850px;

$small-screen-size: 540px;
$medium-screen-size: 760px;
$medium-large-screen-size: 57.5em;
$large-screen-size: 920px;

$small-screen-only: new-breakpoint(max-width $small-screen-size 2);
$medium-screen-down--header: new-breakpoint(max-width ($medium-header-breakpoint - 1px) 4);
$medium-screen-down: new-breakpoint(max-width ($medium-screen-size - 1px) 4);
$medium-screen-up: new-breakpoint(min-width $medium-screen-size 12);
$medium-large-screen-only: new-breakpoint(max-width $medium-large-screen-size 8);
$large-screen-down: new-breakpoint(max-width ($large-screen-size - 1px) 8);
$large-screen-up: new-breakpoint(min-width $large-screen-size 12);

$base-border: 1px solid $base-border-color;
$base-border-radius: 5px;
$large-border-radius: $base-border-radius + 1px;
$small-border-radius: $base-border-radius - 2px;

$base-spacing: 1.25em;
$xsmall-spacing: $base-spacing * 0.5;
$small-spacing: $base-spacing * 0.75;
$medium-spacing: $base-spacing * 1.5;
$large-spacing: $base-spacing * 3;

$letter-spacing-base: 1px;
$letter-spacing-large: 2px;

$font-size-small: 0.875em;
$font-size-base: 1em;
$font-size-medium: 1.25em;
$font-size-large: 2.7em;
$font-size-xlarge: 3em;
$font-size-xxlarge: 3.8em;

// Transition
$base-transition-timing: 0.2s;
$base-easing: cubic-bezier(0.39, 0.575, 0.565, 1);
$base-transition: all $base-transition-timing $base-easing;

// Z-Indices
$z-index-front: 100;
