%footer.app-footer
  %p
    Hound is maintained by #{link_to 'thoughtbot', 'http://thoughtbot.com'}.
    Questions? Tweet #{link_to '@houndci', 'https://twitter.com/houndci'}.

  %p
    Hound is Copyright &copy; #{Date.today.year} thoughtbot. It is free software, and may be
    redistributed under the terms specified in the LICENSE file.

  .links
    = link_to 'Github', 'https://github.com/thoughtbot/hound', class: 'button'
