%header
  %h1.logo Hound
  - if signed_in?
    %ul.nav
      %li
        = link_to 'Repos', root_path
      %li.dropdown
        %input#account-menu-toggle{type: 'checkbox'}
        %label.toggle{for: 'account-menu-toggle'} #{current_user}
        .menu
          = link_to 'Configure Hound', configuration_path
          = link_to 'Sign Out', sign_out_path
