%div{ :class => "plan plan-vertical #{current ? 'current' : ''}" }
  - if current
    .plan-marker__wrapper
      %span.plan-marker.plan-marker--current Current Plan
  .plan-divider
    %h5.plan-title= name
    .plan-allowance
      - if allowance.positive?
        Up to
        %strong= allowance
        Repos
      - else
        Unlimited Public Repos
  .plan-price
    = number_to_currency(price, precision: 0)
    %small month
