<section class="c-page-section c-page-section--squished c-page-section--primary">
  <div class="o-container o-container--small">
    <div class="c-page-section__header">
      <%= tag.h2 t(".heading_html"), class: "c-page-section__heading" %>
      <%= tag.p t(".text_html"), class: "c-page-section__lede" %>
    </div>
  </div>
</section>
