<li class="grid__item o-grid__item--span-6 o-grid__item--span-4@medium o-grid__item--span-3@large u-text-align-center">
  <%= image_tag language["logo"], alt: "", size: "100" %>

  <%= tag.p language["name"] %>
</li>
