.inner-wrapper
  %ul.home-languages-list
    %li.home-languages-list-item
      %svg.home-languages-list-item-logo-svg{ "aria-hidden" => "true" }
        %use{ "xlink:href" => "/images/icons.svg#coffeescript" }
      %p.home-languages-list-item-heading CoffeeScript
    %li.home-languages-list-item
      %svg.home-languages-list-item-logo-svg{ "aria-hidden" => "true" }
        %use{ "xlink:href" => "/images/icons.svg#elixir" }
      %p.home-languages-list-item-heading Elixir
    %li.home-languages-list-item
      .home-languages-list-item-logo
        = image_tag "languages/go.svg", alt: ""
      %p.home-languages-list-item-heading Go
    %li.home-languages-list-item
      .home-languages-list-item-logo
        = image_tag "languages/haml.svg", alt: ""
      %p.home-languages-list-item-heading Haml
    %li.home-languages-list-item
      %svg.home-languages-list-item-logo-svg{ "aria-hidden" => "true" }
        %use{ "xlink:href" => "/images/icons.svg#javascript" }
      %p.home-languages-list-item-heading JavaScript
    %li.home-languages-list-item
      .home-languages-list-item-logo
        = image_tag "languages/python.svg", alt: ""
      %p.home-languages-list-item-heading Python
    %li.home-languages-list-item
      %svg.home-languages-list-item-logo-svg{ "aria-hidden" => "true" }
        %use{ "xlink:href" => "/images/icons.svg#ruby" }
      %p.home-languages-list-item-heading Ruby
    %li.home-languages-list-item
      %svg.home-languages-list-item-logo-svg{ "aria-hidden" => "true" }
        %use{ "xlink:href" => "/images/icons.svg#sass" }
      %p.home-languages-list-item-heading Sass
    %li.home-languages-list-item
      .home-languages-list-item-logo
        = image_tag "languages/swift.svg", alt: ""
      %p.home-languages-list-item-heading Swift
    %li.home-languages-list-item
      %svg.home-languages-list-item-logo-svg{ "aria-hidden" => "true" }
        %use{ "xlink:href" => "/images/icons.svg#typescript" }
      %p.home-languages-list-item-heading TypeScript
