%div.repo-listing{'ng-controller' => 'ReposController'}
  = link_to 'Sync repos', sync_repos_path, :class => 'sync-repos'
  %input.search{'type' => 'text', 'placeholder' => 'search repo list'}
  %ul
    %li.repo{'ng-repeat' => 'repo in repos'}
      %span.toggle.activate{'ng-hide' => 'repo.active'}
        %a{'href' => '', 'ng-click' => 'activate(repo)'}
          activate
      %span.toggle.deactivate{'ng-show' => 'repo.active'}
        %a{'href' => '', 'ng-click' => 'deactivate(repo)'}
          deactivate
      %span.name
        {{repo.name}}
