%header
  %h1.logo Hound
  - if signed_in?
    %span= "#{current_user}"
    = link_to 'Sign Out', sign_out_path

.repo-listing{'ng-controller' => 'ReposController'}
  %nav
    %ul
      %li.pull-left
        %span.active-count
          Active Repos:
          %strong #
          of
          %strong #
      %li.pull-right
        %a{'href' => '', 'ng-click' => 'sync()', 'ng-class' => '{disabled: syncingRepos}'}
          %i.fa.fa-refresh
          %span{'ng-bind' => 'syncButtonText'}
    .search-wrapper
      %i.fa.fa-search
      %input.search{'type' => 'text', 'placeholder' => 'search by repo name', 'ng-model' => 'search.name'}
  %ul.repos{'ng-hide' => 'syncingRepos'}
    %li.repo{'ng-repeat' => 'repo in repos | filter:search', 'ng-class' => '{active: repo.active, processing: repo.processing}'}
      %a.toggle{'href' => '', 'ng-click' => 'toggle(repo)'}
      %span.name {{repo.full_github_name}}
