- content_for :page_title, I18n.t("home.index.title")
- content_for :meta_description, I18n.t("home.index.description")
- content_for :body_class, "home home-index"

= render @experiment, home: @home, companies: @companies, languages: @languages
