%div.repo-listing{'ng-controller' => 'ReposController'}
  %h1.logo Hound
  = link_to sync_repos_path, :class => 'button sync' do
    %i.fa.fa-refresh
    Sync repos
  .search-container
    %i.fa.fa-search
    %input.search{'type' => 'text', 'placeholder' => 'Search repo list', 'ng-model' => 'search.name'}
  %ul
    %li.repo{'ng-repeat' => 'repo in repos | filter:search'}
      %span.toggle.activate{'ng-hide' => 'repo.active'}
        %a{'href' => '', 'ng-click' => 'activate(repo)'}
          activate
      %span.toggle.deactivate{'ng-show' => 'repo.active'}
        %a{'href' => '', 'ng-click' => 'deactivate(repo)'}
          deactivate
      %span.name
        {{repo.full_github_name}}
