.repo-listing{'ng-controller' => 'ReposController'}
  %h1.logo Hound
  %a.button.sync{'href' => '', 'ng-click' => 'sync()', 'ng-class' => '{disabled: syncingRepos}'}
    %i.fa.fa-refresh
    %span{'ng-bind' => 'syncButtonText'}
  .search-container
    %i.fa.fa-search
    %input.search{'type' => 'text', 'placeholder' => 'Search repo list', 'ng-model' => 'search.name'}
  %ul{'ng-hide' => 'syncingRepos'}
    %li.repo{'ng-repeat' => 'repo in repos | filter:search'}
      %a.toggle.activate{'href' => '', 'ng-click' => 'activate(repo)',
        'ng-hide' => 'repo.active'}
      %a.toggle.deactivate{'href' => '', 'ng-click' => 'deactivate(repo)',
        'ng-show' => 'repo.active'}
      %span.name
        {{repo.full_github_name}}
