.c-page-hero {
  padding-bottom: 6rem;
  padding-top: 6rem;
  text-align: center;
}

.c-page-hero__heading {
  font-size: 3.5rem;
}

.c-page-hero__lede {
  font-size: 1.25rem;
  margin-top: 2rem;
}

.c-page-hero__cta {
  margin-top: 2rem;
}
