$_text-partition-stroke-height: 0.125em;

.c-text-partition {
  align-items: center;
  column-gap: 1em;
  display: grid;
  grid-template-columns: 23% auto 23%;
  justify-content: center;
  letter-spacing: 0.125em;
  text-transform: uppercase;
  width: 100%;

  &::before,
  &::after {
    background-color: var(--color-border);
    content: "";
    height: $_text-partition-stroke-height;
    position: relative;
    top: -($_text-partition-stroke-height / 2);
  }
}
