%nav.navigation{ role: "navigation" }
  - navigation_resources.each do |resource|
    = link_to display_resource_name(resource),
      [namespace, resource],
      class: "navigation__link navigation__link--#{nav_link_state(resource)}"
