.account-section {
  @extend %content-frame;
  display: table;

  aside.account-nav {
    @include span-columns(3 of 12, table);
    @include omega;
    padding: 0  2em 0 0;
    vertical-align: top;

    .message {
      background: lighten($gold, 50%);
      border-radius: 3px;
      border: 1px solid lighten($gold, 3%);
      color: darken($gold, 10%);
      padding: 1em;
    }
  }

  .account-content {
    @include span-columns(9 of 12, table);
    border-left: 1px solid $base-border-color;
    padding: 0 0 0 2em;
  }
}

.billing-breakdown {
  border-bottom: 1px dotted $base-border-color;
  margin-bottom: 2em;
  padding-bottom: 3em;

  .update-card {
    font-weight: 300;
    float: right;

    i.fa {
      display: inline-block;
      margin-right: 0.2em;
    }
  }

  .itemized-receipt,
  .monthly-total {
    th,
    td {
      &:last-child {
        text-align: right;
      }
    }
  }

  .itemized-receipt {
    margin-bottom: 2em;
  }

  .monthly-total {
    label {
      color: $base-font-color;
    }

    .total-amount {
      font-size: 1em;
      padding: 1em 1.2em;
    }
  }
}

table {
  border-collapse: collapse;
  width: 100%;

  tr {
    border: 1px solid $base-border-color;
  }

  th,
  td {
    text-align: left;
  }

  td {
    padding: 1em 1.1em;
  }

  th {
    background-color: rgb(245,245,245);
    color: $light-font-color;
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 1em 1.4em;
    text-transform: uppercase;
  }
}
