.home-pricing {
  margin: auto;
  max-width: $large-screen-size;
  padding: ($base-spacing * 2) $base-spacing;
  text-align: center;

  @media (min-width: $medium-screen-size) {
    padding: $large-spacing $base-spacing ($large-spacing * 2);
  }

  @media (min-width: $large-screen-size) {
    padding: $large-spacing $base-spacing ($large-spacing * 3);
  }
}

.home-pricing-heading {
  margin: $base-spacing 0 $small-spacing;
}
