.home-importance {
  background: $purple
              linear-gradient(160deg, $home-gradient-top, $home-gradient-bottom);
  color: $white;
  padding: $large-spacing 1em ($large-spacing * 2);

  @media (min-width: $medium-screen-size) {
    padding: ($large-spacing * 2) $base-spacing ($large-spacing * 3);
  }
}

.home-importance-heading {
  border-bottom: 1px solid rgba($white, 0.2);
  margin: 0 auto $medium-spacing;
  padding: 0 ($base-spacing * 2) $base-spacing;
  text-shadow: $base-text-shadow;
}

.home-importance-item {
  @include span-columns(10 of 12);
  @include shift(1);

  @media (min-width: $medium-screen-size) {
    @include span-columns(8 of 12);
    @include shift(2);
  }

  @media (min-width: $large-screen-size) {
    @include span-columns(4 of 12);
    @include shift(0);
  }

  &:not(:last-child) {
    margin-bottom: $large-spacing;

    @media (min-width: $large-screen-size) {
      margin-bottom: 0;
    }
  }
}

.home-importance-text {
  text-shadow: $base-text-shadow;

  @media (min-width: $medium-screen-size) {
    padding: 0 5%;
  }
}

.home-importance-text,
.home-importance-icon {
  text-align: center;
  width: 100%;
}
