.value {
  padding: $large-spacing $base-spacing ($large-spacing * 2);

  @media (min-width: $large-screen-size) {
    padding: ($large-spacing * 2) 0 ($large-spacing * 3);
  }
}

.value-section {
  @include span-columns(10 of 12);
  @include shift(1);
  text-align: center;

  @media (min-width: $medium-screen-size) {
    @include span-columns(8 of 12);
    @include shift(2);
  }

  &:not(:first-child) {
    border-top: $base-border;
    margin-top: $large-spacing;
    padding-top: $large-spacing;

    @media (min-width: $medium-screen-size) {
      margin-top: $large-spacing * 2;
      padding-top: $large-spacing * 2;
    }
  }
}

.value-text {
  margin-bottom: $large-spacing;

  @media (min-width: $medium-screen-size) {
    margin-bottom: $large-spacing * 1.5;
  }

  h3 {
    margin-bottom: $xsmall-spacing;
  }

  p {
    font-size: $font-size-medium;
    line-height: 1.6;
  }
}

.value-image {
  width: 100%;
}
