.home {
  .content {
    margin: 0;
    max-width: none;
  }

  .section-content {
    @include outer-container;
  }

  .section-title {
    text-align: center;
  }

  p {
    margin: 0;
  }
}

.home-heading--large {
  font-size: 1.8em;
  margin-bottom: $xsmall-spacing;

  @media (min-width: $medium-screen-size) {
    font-size: 2.2em;
  }

  @media (min-width: $large-screen-size) {
    font-size: $font-size-large;
  }
}

.home-heading--small {
  font-size: $font-size-medium;
  font-weight: $font-weight-medium;
  margin-bottom: $xsmall-spacing;
}
