.home-hero {
  padding: ($base-spacing * 2) $base-spacing $large-spacing;

  @media (min-width: $medium-screen-size) {
    @include span-columns(10 of 12);
    @include shift(1);
    padding: $large-spacing $base-spacing ($large-spacing * 2);
  }

  @media (min-width: $large-screen-size) {
    @include span-columns(8 of 12);
    @include shift(2);
    padding: ($large-spacing * 1.5) 0 ($large-spacing * 2.5);
    text-align: center;
  }
}

.home-hero-heading {
  font-size: $font-size-xxlarge;
  margin-bottom: $xsmall-spacing;

  @media (max-width: $medium-screen-size) {
    font-size: $font-size-xlarge;
  }

  @media (max-width: $small-screen-size) {
    font-size: $font-size-large;
  }
}

.home-hero-subheading {
  font-size: $font-size-base;
  margin-bottom: 0;

  @media (min-width: $medium-screen-size) {
    font-size: $font-size-medium;
  }
}

.home-hero-cta {
  padding-top: $medium-spacing;

  @media (min-width: $medium-screen-size) {
    padding-top: $large-spacing;
  }
}
