%div{ style: "text-align: center" }
  = image_tag "madi.jpg"

  %h1
    Oh no, this page doesn't exist.

  %p
    You may have mistyped the address or the page could have moved.

  %p
    Feel free to
    %a{ href: "https://github.com/houndci/hound/issues", target: :blank }
      open an issue
    on GitHub if you need help finding something or
    %a{ href: "https://twitter.com/share?text=@houndci &url=\"\"", target: :blank }
      reach out
    on twitter.
