%h1
  Something went wrong!

%h2
  We've been notified of this problem.

%p
  Feel free to
  %a{ href: "https://github.com/houndci/hound/issues" }
    open an issue on GitHub
  to help us track down the error.

%p
  You can also reach out to us
  %a{ href: "https://twitter.com/houndci/" } on twitter.
