%div{ style: "text-align: center" }
  = image_tag "madi.jpg"

  %h1
    Woops, something went wrong.

  %h2
    We are on it! We've been notified of the issue.

  %p
    Feel free to
    %a{ href: "https://github.com/houndci/hound/issues", target: :blank }
      open an issue
    on GitHub to help us track down the problem or
    %a{ href: "https://twitter.com/share?text=@houndci &url=\"\"", target: :blank }
      reach out
    on twitter.
