.badge {
  border: 1px solid $light-gray;
  border-radius: 3px;
  color: $base-font-color;
  display: inline-block;
  font-size: $font-size-small;
  line-height: 1;
  margin: 0;
  padding: 0.125em 0.25em;
}
