.current-plan {
  background: lighten($gold, 50%);
  border: 1px solid lighten($gold, 3%);
  border-radius: 100px;
  color: darken($gold, 10%);
  display: inline-block;
  font-size: 0.8em;
  margin-bottom: $small-spacing;
  padding: 0 1em;
  text-transform: uppercase;
}
