.global-header {
  @include transition(height 0.2s ease-in-out);
  background-color: $white;
  height: 120px;
  width: 100%;

  @include media($medium-screen-down--header) {
    height: auto;
    padding: 1em 2em;
    text-align: center;
  }

  &.repo-index {
    position: fixed;
    z-index: $z-index-front;
  }

  &.shrunk {
    border-bottom: 2px solid $base-accent-color;
    height: 80px;

    @include media($medium-screen-down--header) {
      height: auto;
      padding: 0;
    }

    @include media($small-screen-only) {
      padding: 0.5em;
    }
  }
}

.global-header-wrapper {
  @include outer-container;
  height: 100%;
  padding: 0 0.5em;

  @include media($medium-screen-down--header) {
    height: auto;
    padding: 2em 1em;
    text-align: center;
  }

  &.home-header {
    @include clearfix;
    margin: 0;
    max-width: none;
    padding: 2em;
    width: 100%;

    h1 {
      background-image: image-url("logo.svg");
      height: 40px;
      width: 174px;
    }
  }

  .logo {
    display: table;
    height: 100%;
    margin-right: 1em;

    @include media($medium-screen-down--header) {
      display: inline-block;
      float: none;
      vertical-align: middle;
    }

    @include media($small-screen-only) {
      display: table;
      margin: 0 0 1em;
      width: 100%;
    }

    .va-cell {
      font-size: 0;
    }
  }

  .logo-link {
    display: inline-block;

    &:hover {
      border: none;
    }
  }

  h1 {
    @include hide-text;
    background-image: image-url("icon.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 50px;
    margin: 0;
    width: 51px;
  }

  ul {
    display: table;
    height: 100%;

    @include media($medium-screen-down--header) {
      display: inline-block;

      &.pull-right,
      &.pull-left {
        float: none;
      }
    }

    + ul {
      @include media($medium-screen-down--header) {
        padding: 1.2em 1em;
      }

      @include media($small-screen-only) {
        display: none;
      }
    }

    li {
      display: table-cell;
      text-align: center;
      vertical-align: middle;

      @include media($medium-screen-down--header) {
        display: inline-block;
      }

      + li {
        padding-left: 1em;
      }

      a {
        color: $light-font-color;
        display: inline-block;
        font-weight: $font-weight-light;
        letter-spacing: 1px;

        &:hover {
          color: $base-accent-color;
        }

        &.auth,
        &.docs,
        &.faq {
          border: 1px solid $base-border-color;
          border-radius: 26px;
          line-height: 40px;
          padding: 0em 1.4em;

          &:hover {
            border-color: $base-accent-color;
          }

          i.fa {
            display: inline-block;
            margin-right: 0.2em;
            vertical-align: middle;
          }

          span {
            display: inline-block;
            padding-bottom: 2px;
            vertical-align: middle;
          }
        }

        &.account {
          .avatar {
            @include size(38px);
            @include transition(all 0.15s linear);
            background: transparent no-repeat 50% 50%;
            background-size: cover;
            border-radius: 50%;
            display: inline-block;
            vertical-align: middle;
          }

          span {
            display: inline-block;
            margin-left: 0.2em;
            vertical-align: middle;
          }
        }
      }
    }
  }
}
