.plan-marker {
  border-radius: 100px;
  display: inline-block;
  font-size: 0.8em;
  margin-bottom: $small-spacing;
  padding: 0 1em;
  text-transform: uppercase;
}

.plan-marker--current {
  background-color: lighten($gold, 50%);
  border: 1px solid lighten($gold, 3%);
  color: darken($gold, 10%);
}

.plan-marker--new {
  background-color: lighten($green, 10%);
  border: 1px solid darken($green, 20%);
  color: darken($green, 40%);
}

.plan-marker__wrapper {
  display: block;
}
