@include keyframes(activate) {
  0% {
    box-shadow: inset 0 0 0 2px $inactive-color,
                inset 0 0 0 10px white,
                0 0 0 0px $active-color;
    background: $inactive-color;
  }

  40% {
    box-shadow: inset 0 0 0 2px $active-color,
                inset 0 0 0 3px white,
                0 0 0 0px $active-color;
    background: $active-color;
  }

  50% {
    box-shadow: inset 0 0 0 2px $active-color,
                inset 0 0 0 2px white,
                0 0 0 3px $active-color;
    background: $active-color;  }

  100% {
    box-shadow: inset 0 0 0 2px $active-color,
                inset 0 0 0 2px white,
                0 0 0 0px $active-color;
    background: $active-color;
  }
}

/////////////////////////////////////////////////////////////////////

@include keyframes(activate-text) {
  0% {
    background: -webkit-linear-gradient(0deg, #000 -100%, #00FF00 -50%, #000 0%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  100% {
    background: -webkit-linear-gradient(0deg, #000 100%, #00FF00 150%, #000 200%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/////////////////////////////////////////////////////////////////////

@include keyframes(loading) {
  0% {
    opacity: 0.15;
    @include transform(scale(0.95));
  }
  50% {
    opacity: 1;
    @include transform(scale(1));
  }
  100% {
    opacity: 0.15;
    @include transform(scale(0.95));
  }
}
