body {
  background-color: rgb(255,255,255);
  color: $base-font-color;
  font: 400 1em/1.3 'Lato';
}

.content {
  max-width: 600px;
  margin: 0 auto;
  padding: 4rem 1rem;
}

h1.logo {
  letter-spacing: 6px;
  font-weight: 900;
  font-size: 3.8em;
  margin: 0;
  text-transform: uppercase;
}

header {
  margin-bottom: 0.4rem;
  text-align: center;

  span {
    border-right: 1px solid $base-border-color;
    color: $light-font-color;
    font-size: 0.9em;
    font-weight: 300;
    letter-spacing: 2px;
    margin-right: 0.6em;
    padding-right: 1em;
    text-transform: uppercase;
  }

  span + a {
    border: none;
    color: $light-font-color;
    display: inline-block;

    &:hover {
      color: darken($purple, 5%);
    }
  }
}

.button {
  @include transition(all 0.15s linear);
  @include user-select(none);
  background: $purple;
  border-radius: 3px;
  border: 1px solid $purple;
  color: #fff;
  display: block;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 3px;
  overflow: hidden;
  padding: 1rem 2rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;

  &:hover {
    background: lighten($purple, 6%);
    color: #fff;
  }

  &.auth {
    display: inline-block;
    z-index: 2;
  }

  span {
    vertical-align: middle;
  }

  i {
    font-size: 1.5em;
    display: inline-block;
    margin-right: 0.2em;
    vertical-align: middle;
  }
}

a {
  @include transition(all 0.15s linear);
  border-bottom: 1px solid transparent;
  color: darken($purple, 5%);
  display: inline-block;
  letter-spacing: 2px;
  font-size: 0.9em;
  font-weight: 300;
  padding: 0.2em;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    border-color: lighten($purple, 5%);
  }
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
