body {
  background-color: rgb(255,255,255);
  color: $base-font-color;
  font: 300 1em/1.4 'Lato';
}

.content {
  @include outer-container;
}

.content-doc {
  border-bottom: 1px solid $base-border-color;
  margin-top: 3em;
  padding-bottom: 3em;

  p {
    padding-bottom: 1em;
  }

  @include media($small-screen) {
    margin-top: 0;
  }
}

.code {
  background: rgba(#99abc0, .25);
  display: inline-block;
  font-family: monospace;
  font-style: normal;
}

em.code {
  padding: .15em;
}

.code-block {
  @extend .code;
  display: block;
  padding: 1em;
  margin: .5em 0;
  white-space: pre-wrap;
}

.inner-wrapper {
  @include clearfix;
}

a {
  @include transition(all 0.15s linear);
  color: darken($purple, 5%);
  text-decoration: none;

  &:hover {
    color: darken($purple, 5%);
  }
}

h3 {
  margin: 0 0 1em;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

li.debug-steps {
  list-style: circle;
}

ol.numbered {
  list-style: decimal;
  li {
    margin: 0.5em 0;
  }
}
