body {
  font: 400 1rem/1.3 'Lato';
}

.signed-in {
  display: inline-block;
  font-size: .8rem;
  letter-spacing: 1px;
  padding: 1rem;
  @include position(absolute, 0px 0px 0 0);
  text-align: center;
  text-transform: uppercase;

  a {
    border-bottom: 1px solid #666;
    color: #000;
    padding-bottom: 1px;
    text-decoration: none;
  }
}
