body {
  background-color: rgb(255,255,255);
  color: $base-font-color;
  font: 400 1em/1.3 'Lato';

  @include media($small-screen) {
    margin-top: 65px;
  }
}

.content {
  max-width: 640px;
  margin: 0 auto;
  padding: 2em 1em;

  @include media($small-screen) {
    padding: 1em;
  }
}

.content-doc {
  border-bottom: 1px solid $base-border-color;
  margin-top: 3em;
  padding-bottom: 3em;

  p {
    padding-bottom: 1em;
  }

  @include media($small-screen) {
    margin-top: 0;
  }
}

.code {
  background: rgba(#99abc0, .25);
  display: inline-block;
  font-family: monospace;
  font-style: normal;
}

em.code {
  padding: .15em;
}

.code-block {
  @extend .code;
  display: block;
  padding: 1em;
  margin: .5em 0;
  white-space: pre-wrap;
}

.button {
  @include transition(all 0.15s linear);
  @include user-select(none);
  background: $purple;
  border-radius: 3px;
  border: 1px solid $purple;
  color: #fff;
  display: block;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 3px;
  overflow: hidden;
  padding: 1em 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;

  &:hover {
    background: lighten($purple, 6%);
    color: #fff;
  }

  &.auth {
    display: inline-block;
    z-index: 2;
  }

  span {
    vertical-align: middle;
  }

  i {
    font-size: 1.5em;
    display: inline-block;
    margin-right: 0.2em;
    vertical-align: middle;
  }
}

a, label.toggle {
  @include transition(all 0.15s linear);
  border-bottom: 1px solid transparent;
  color: darken($purple, 5%);
  text-decoration: none;

  &:hover {
    border-color: lighten($purple, 5%);
    color: darken($purple, 5%);
  }
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

ol.numbered {
  list-style: decimal;
  li {
    margin: 0.5em 0;
  }
}
