header {
  @include clearfix;
  height: 40px;
  margin-bottom: 2em;

  h1.logo {
    color: $light-font-color;
    letter-spacing: 4px;
    float: left;
    font-weight: 900;
    font-size: 2em;
    margin: 0;
    text-transform: uppercase;
  }

  ul.nav {
    display: table;
    float: right;
    height: 100%;

    li {
      color: $light-font-color;
      display: table-cell;
      font-size: 0.9em;
      font-weight: bold;
      letter-spacing: 2px;
      padding: 0.1em 0;
      text-transform: uppercase;
      vertical-align: middle;

      & + li {
        padding-left: 2em;

        @include media($small-screen) {
          border-left: none;
          padding-left: 0;
        }
      }
    }
  }

  a, label.toggle {
    color: $light-font-color;
  }

  .dropdown {
    display: block;
    position: relative;

    label {
      cursor: pointer;

      &:after {
        font-family: $icon-font;
        line-height: 1em;
        margin-left: .5em;
      }
    }

    input#account-menu-toggle {
      display: none;

      & ~ label {
        &:after {
          content: $icon-dropdown;
        }
      }

      &:checked {
        & ~ label {
          &:after {
            content: $icon-dropup;
          }
        }

        & ~ .menu {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    .menu {
      @include position(absolute, 100% -2px 0 0);
      background: #fff;
      border-radius: 6px;
      border: 1px solid $base-border-color;
      opacity: 0;
      padding: 1em;
      visibility: hidden;
      width: 210px;
      z-index: 10;

      a {
        border: none;
        display: block;

        & + a {
          margin-top: 0.8em;
        }
      }
    }
  }
}
