.repo-listing {
  border: 1px solid $base-border-color;
  box-shadow: 0 1px 10px 0 rgba(0,0,0,0.1);

  @include media($small-screen) {
    box-shadow: none;
    margin: 1em -1em;
  }

  nav {
    border-bottom: 1px solid $base-border-color;
    background: #fff;

    ul {
      @include clearfix;
      padding: 0.8em 1.2em 0.6em;

      @include media($small-screen) {
        > li {
          float: none;
          text-align: center;
          margin-bottom: 0.4em;
        }
      }

      span.active-count {
        color: $light-font-color;
        font-size: 0.9em;
        font-weight: bold;
        letter-spacing: 2px;
        text-transform: uppercase;
      }

      a {
        border: none;
        color: $light-font-color;
        padding: 0;

        &:hover {
          color: darken($purple, 5%);
        }
      }
    }

    .search-wrapper {
      padding: 0 1em 1.2em;
      position: relative;

      i.fa-search {
        @include position(absolute, 0.9em 1.8em null null);
        @include user-select(none);
        color: #fff;
        font-size: 1.2em;
      }

      input.search {
        @include transition(all 0.25s ease-out);
        @include box-sizing(border-box);
        background-color: lighten($purple, 10%);
        border: none;
        border-radius: 3px;
        color: #fff;
        display: block;
        font-size: 1.2em;
        margin: 0;
        padding: 0.7em 0.8em 0.8em;
        width: 100%;

        &:focus {
          background-color: $purple;
          border-color: $purple;
          outline: none;
        }

        @include placeholder {
          color: rgba(255,255,255,0.8);
        }
      }
    }
  }

  .loading {
    background-color: #fff;
    padding: 1.1em 1.9em 1em;
    text-align: center;

    .dot {
      @include size(20px);
      @include animation(loading 1.3s ease-out);
      @include animation-iteration-count(infinite);
      background-color: rgba($green, 0.1);
      border-radius: 100%;
      border: 1px solid $green;
      display: inline-block;
      opacity: 0.15;
      margin: 0 1.2em;

      &:nth-child(2) {
        @include animation-delay(0.2s);
      }

      &:nth-child(3) {
        @include animation-delay(0.4s);
      }
    }
  }

  ul.repos {
    background-color: rgb(250,250,250);
  }

  li.repo {
    @include clearfix;
    border-top: 1px solid $base-border-color;
    padding: 1.1em 1.9em 1em;
    position: relative;

    @include media($small-screen) {
      padding: 1.1em 1em 1em;
    }

    &:before {
      @include position(absolute, 0.6em null null 0.6em);
      @include transition(all 0.25s linear);
      @extend .fa-spin;
      border-radius: 50%;
      color: rgb(210,210,210);
      content: '\f013';
      display: inline-block;
      font-size: 1.6em;
      font-family: $icon-font;
      opacity: 0;
      visibility: hidden;
    }

    &:first-child {
      border: none;
    }

    .repo-name {
      @include transition(all 0.25s linear);
      color: rgb(160,160,160);
      display: block;
      font-size: 1.4em;
      font-weight: 300;
      text-overflow: ellipsis;
      overflow: hidden;
      position: relative;
      padding-left: 1em;

      &.private:before {
        @include position(absolute, .25em null null 0px);
        content: $icon-lock;
        font-family: $icon-font;
        font-size: .8em;
        opacity: .5;
      }
    }

    .toggle {
      @include user-select(none);
      border-radius: 24px;
      border: 1px solid darken($base-border-color, 5%);
      display: block;
      float: right;
      height: 24px;
      padding: 1px;
      position: relative;
      width: 50px;

      &:before {
        @include size(20px);
        @include position(absolute, null null null 1px);
        @include transition(all 0.25s linear);
        background-color: rgb(255,255,255);
        border: 1px solid $base-border-color;
        border-radius: 100%;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
        color: #fff;
        content: '';
        display: block;
        z-index: 2;
      }
    }

    &.processing {
      &:before {
        opacity: 1;
        visibility: visible;
      }

      .repo-name {
        margin-left: 1em;
      }
    }

    &.active {
      background-color: rgb(255,255,255);

      .toggle {
        background-color: $green;
        border-color: #fff;
        border-color: $green;

        &:before {
          @include position(absolute, null null null 27px);
          border-color: $green;
          border-color: #fff;
        }
      }
    }
  }

  @include media($small-screen) {
    border-top: none;
    margin-top: -1em;

    input.search {
      font-size: 1em;
      padding-right: 2.5em !important;

      &[placeholder] {
        font-size: 1em;
        text-overflow: ellipsis;
      }
    }

    .repo-name {
      font-size: 1.1em !important;
    }

    .repo:before {
      font-size: 1em !important;
      top: 1.2em !important;
    }
  }
}
