.repo-listing {
  background: #fff;
  border: 1px solid $base-border-color;
  box-shadow: 0 1px 10px 0 rgba(0,0,0,0.05);
  margin-top: 3rem;

  nav {
    border-bottom: 1px solid $base-border-color;
    padding: 1em;

    .search-container {
      position: relative;

      i.fa-search {
        @include position(absolute, 1.25rem 0 0 .75rem );
        @include user-select(none);
        color: $light-font-color;
      }
    }

    .search {
      box-sizing: border-box;
      display: block;
      margin: 1rem 0;
      padding: 1rem 2rem 1rem 34px;
      width: 100%;
    }
  }

  ul.repos {
    padding: 0 1em;
  }

  li.repo {
    border-bottom: 1px solid $base-border-color;
    display: block;
    padding: 0.8em 0;
    position: relative;

    &:last-child {
      border-bottom: 0;
    }

    .toggle {
      @include user-select(none);
      border: none;
      display: inline-block;
      padding: 0 0.5rem 0 0;
      width: $repo-list-toggle-size;

      &:after {
        border-radius: 100%;
        box-shadow: inset 0 0 0 2px $inactive-color;
        color: #fff;
        content: '\f00c';
        display: block;
        font-family: "FontAwesome";
        height: $repo-list-toggle-size;
        line-height: 1.6rem;
        text-align: center;
        width: $repo-list-toggle-size;
      }

      &:active {
        @include transform(scale(.9));

        &:after {
          box-shadow: inset 0 0 0 3px $inactive-color;
        }
      }

      &.deactivate:after {
        background: $active-color;
        box-shadow: inset 0 0 0 2px $active-color;
      }
    }

    .name {
      line-height: $repo-list-toggle-size;
    }
  }
}
