.report {
  margin: 0 auto;
  max-width: 720px;
  padding: 2rem 1rem;

  .logo span {
    font-weight: 200;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  h4 {
    font-family: monospace, sans-serif;
    margin: 0 0 1rem 0;

    a, a:visited {
      color: #000;
    }
  }

  .violation {
    margin-bottom: 2rem;
    position: relative;

    .line-number {
      border-right: 1px solid #ccc;
      color: #666;
      font-family: monospace, sans-serif;
      font-size: .9rem;
      padding: .5rem;
      @include position(absolute, 0px 0 0 0px);
      text-align: right;
      text-align: right;
      width: 1.5rem;
    }

    pre {
      background: #eee;
      font-size: .9rem;
      overflow-x: scroll;
      padding: .5rem .5rem .5rem 3rem;
    }

    .message {
      margin: 1rem 0 2rem 3rem;

      p {
        margin: 0;
      }
    }
  }
}

.report-repo-list {
  background: #eee;

  .repo-listing {
    max-width: 720px;
  }
}
