.pitch {
  margin-bottom: 2rem;
  padding: 2rem 0;

  h2 {
    margin: 0 0 1rem;
  }

  .style-guide {
    display: inline-block;
    margin: 0 0 1.5rem;
  }
}

.fa-search.disabled {
  opacity: .5;
}

ul.disabled {
  cursor: not-allowed;
  opacity: .5;

  li .toggle a {
    cursor: not-allowed;
  }
}
