.pitch {
  margin: 0 0 4rem;
  padding: 0 2em;
  text-align: center;

  h2 {
    margin: 0 0 0.6rem;
    font-weight: 300;
    font-size: 1.8em;
  }
}

.cta {
  margin-bottom: 3rem;
  position: relative;
  text-align: center;

  &:before {
    border-top: 1px solid $base-border-color;
    content: "";
    left: 0;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 1;
  }
}
