$sans-serif: "Lato", sans-serif;
$serif: "Georgia", serif;

$green: rgb(82, 228, 93);
$purple: #5842BD;
$red: #c32f34;
$teal: #379a75;

$inactive-color: #999;
$active-color: $teal;
$repo-list-toggle-size: 1.5rem;

$base-border-color: rgb(220,220,220);

$base-font-color: rgb(80,80,80);
$base-font-color: rgb(97, 110, 124);

$medium-font-color: rgb(120,120,120);
$medium-font-color: rgb(139, 152, 167);

$light-font-color: rgb(160,160,160);
$light-font-color: rgb(153, 171, 192);

$icon-font: "FontAwesome";

$small-screen: new-breakpoint(max-width em(540) 2);
$medium-screen: new-breakpoint(max-width em(760) 4);
$large-screen: new-breakpoint(max-width em(920) 8);
