$sans-serif: "Lato", sans-serif;
$serif: "Georgia", serif;

$purple: #932a76;
$teal: #379a75;
$red: #c32f34;

$inactive-color: #999;
$active-color: $teal;
$repo-list-toggle-size: 1.5rem;

$base-border-color: rgb(220,220,220);

$base-font-color: rgb(60,60,60);
$light-font-color: rgb(160,160,160);

$icon-font: "FontAwesome";
