$sans-serif: "Lato", sans-serif;
$serif: "Georgia", serif;

$green: rgb(82, 228, 93);
$purple: rgb(168, 115, 209);
$red: #c32f34;
$teal: #379a75;

$inactive-color: #999;
$active-color: $teal;
$repo-list-toggle-size: 1.5rem;

$base-border-color: rgb(220,220,220);
$base-font-color: rgb(97, 110, 124);
$light-font-color: rgb(153, 171, 192);
$medium-font-color: rgb(139, 152, 167);

$icon-font: "FontAwesome";
$icon-dropdown: '\f0d7';
$icon-dropup: '\f0d8';
$icon-lock: '\f023';

$small-screen: new-breakpoint(max-width em(540) 2);
$medium-screen: new-breakpoint(max-width em(760) 4);
$large-screen: new-breakpoint(max-width em(920) 8);
