= link_to "/auth/github", class: "auth" do
  %i.fa.fa-github
  %span= ab_test("auth_button")

- content_for :analytics do
  :javascript
    var link = document.getElementsByClassName("auth")[0];
    window.analytics.trackLink(
      link,
      "Clicked Sign In",
      { variation: #{ab_test("auth_button")} }
    );
