= render 'shared/header'

%main.content-doc
  %h2 Hound configuration

  %p
    Hound uses #{link_to 'RuboCop', 'https://github.com/bbatsov/rubocop'} gem to
    handle the style checking. Thus, all of the RuboCop configuration is supported
    in Hound as well.

  %p
    Hound will look for
    %em.code .hound.yml
    file in the root of the repo, and apply the custom configuration on top of the
    default configuration.

  %h3 Adding custom config
  %ol.numbered
    %li
      Add a file named
      %em.code .hound.yml
      to the root of your repo.
    %li
      Add custom configuration to
      %em.code .hound.yml
      file, like:
      %code.code-block
        :preserve
          StringLiterals:
            EnforcedStyle: double_quotes
            Enabled: true

      See #{link_to 'more config options', 'https://github.com/bbatsov/rubocop/blob/master/config/enabled.yml'} in the RuboCop project.
    %li
      Commit the changes to your repo, and the following pull requests will use
      your custom configuration.
