<div class="plan plan-open-source">
  <h5 class="plan-title"><%= plan.title %></h5>

  <div class="plan-allowance"><%= t(".allowance") %></div>

  <div class="plan-price"><%= t(".price_html", price: plan.price) %></div>
</div>
