= render "settings"

:javascript
  Hound.settings.userEmailAddress = "#{current_user.billable_email}"

= javascript_pack_tag("notify_tier_change")
= react_component("NotifyTierChange",
  nextPlan: plan_selector.next_plan,
  plans: @plans,
  repoId: @repo.id,
  repoName: @repo.name,
  hasCreditCard: current_user.card_exists?,
  marketplaceUpgradeUrl: @marketplace_upgrade_url,
)
