$medium-screen-header: new-breakpoint(max-width em(850) 4);

header.global {
  @include clearfix;
  height: 120px;
  padding: 0 0.5em;

  @include media($medium-screen-header) {
    height: auto;
    padding: 2em 1em;
    text-align: center;
  }

  .logo {
    display: table;
    height: 100%;
    margin-right: 1em;

    @include media($medium-screen-header) {
      display: inline-block;
      float: none;
      vertical-align: middle;
    }

    @include media($small-screen) {
      margin: 0 0 1em;
      width: 100%;
    }
  }

  .logo-link {
    display: table-cell;
    text-align: center;
    vertical-align: middle;

    @include media($medium-screen-header) {
      display: inline-block;
    }

    &:hover {
      border: none;
    }

    h1 {
      @include hide-text;
      background: image-url("logo.svg") no-repeat center center;
      background-size: 100%;
      height: 40px;
      margin: 0;
      width: 174px;

      // background: image_url("icon.svg") no-repeat center center;
      // height: 50px;
      // width: 51px;
    }
  }

  ul {
    display: table;
    height: 100%;

    @include media($medium-screen-header) {
      display: inline-block;

      &.pull-right,
      &.pull-left {
        float: none;
      }
    }

    + ul {
      @include media($medium-screen-header) {
        padding-top: 1.2em;
      }

      @include media($small-screen) {
        display: none;
      }
    }

    li {
      display: table-cell;
      vertical-align: middle;
      text-align: center;

      @include media($medium-screen-header) {
        display: inline-block;
      }

      + li {
        padding-left: 1em;
      }

      a {
        color: $light-font-color;
        display: inline-block;
        font-weight: 300;
        letter-spacing: 1px;

        &.auth,
        &.docs,
        &.faq {
          border: 1px solid $base-border-color;
          border-radius: 26px;
          line-height: 40px;
          padding: 0em 1.4em;

          &:hover {
            border-color: $base-accent-color;
          }

          i.fa {
            display: inline-block;
            margin-right: 0.2em;
            vertical-align: middle;
          }

          span {
            display: inline-block;
            padding-bottom: 2px;
            vertical-align: middle;
          }
        }

        &.account {
          .avatar {
            @include size(38px);
            @include transition(all 0.15s linear);
            background: transparent no-repeat 50% 50%;
            background-size: cover;
            border-radius: 50%;
            display: inline-block;
            vertical-align: middle;
          }

          span {
            display: inline-block;
            margin-left: 0.2em;
            vertical-align: middle;
          }
        }
      }
    }
  }
}
