header {
  @include clearfix;
  height: 120px;
  padding: 0 2em;
  width: 100%;

  @include media($small-screen) {
    height: auto;
    padding: 2em 0;
    text-align: center;
  }

  a.logo {
    border: none;
    display: block;
    float: left;
    margin-right: 1em;
    padding: 0;

    @include media($small-screen) {
      margin-right: 0;
    }

    &:hover {
      border: none;
    }

    h1 {
      @include hide-text;
      background: image-url("logo.svg") no-repeat center center;
      background-size: 100%;
      height: 40px;
      margin: 0;
      width: 174px;
    }
  }

  ul {
    display: table;
    height: 100%;

    @include media($small-screen) {
      display: inline-block;
      margin: 0 0.5em;

      &.pull-right,
      &.pull-left {
        float: none;
      }

      & + ul {
        padding-top: 1.2em;
      }
    }

    li {
      display: table-cell;
      vertical-align: middle;

      @include media($small-screen) {
        display: inline-block;
      }

      & + li {
        padding-left: 1em;
      }

      a {
        color: $light-font-color;
        display: block;
        font-weight: 300;
        letter-spacing: 1px;

        &.auth,
        &.docs,
        &.faq {
          border: 1px solid $base-border-color;
          border-radius: 26px;
          line-height: 40px;
          padding: 0em 1.4em;

          &:hover {
            border-color: $purple;
          }

          i.fa {
            display: inline-block;
            margin-right: 0.2em;
            vertical-align: middle;
          }

          span {
            display: inline-block;
            padding-bottom: 2px;
            vertical-align: middle;
          }
        }

        &.account {
          .avatar {
            @include size(38px);
            background: rgb(240,240,240) no-repeat 50% 50%;
            background-size: cover;
            border-radius: 50%;
            display: inline-block;
            vertical-align: middle;
          }

          span {
            display: inline-block;
            margin-left: 0.2em;
            vertical-align: middle;
          }
        }
      }
    }
  }
}
