.app-footer {
  margin-top: 3em;

  .button {
    display: inline-block;
    font-size: .75em;
  }

  .links {
    li {
      display: inline-block;

      &:after {
        border-right: 1px solid $base-border-color;
        display: inline-block;
        content: '';
        height: 1em;
        margin: 0 .25em;
        vertical-align: middle;
      }

      &:last-child:after {
        content: normal;
      }
    }
  }

  @include media($small-screen) {
    text-align: center;

    .links {
      li {
        display: block;

        &:after {
          content: normal;
        }
      }
    }
  }
}
