- content_for :page_title, "Your Account"

= render 'settings'

%section.account-section
  %aside.account-nav
    %h3
      Plans

    - @account_page.plans.each do |plan|
      = render("shared/plan_vertical",
          allowance: plan.allowance,
          current: plan.current?,
          name: plan.title,
          new: plan.next?,
          price: plan.price,
        )

  .account-content
    - unless current_user.marketplace_user?
      %article.billing-breakdown
        = javascript_pack_tag "account"
        = react_component("Account",
            plan: @account_page.plan,
            email: @account_page.billable_email,
            isAccountOwner: current_user.card_exists?,
            buildsNumber: number_with_delimiter(@account_page.recent_builds),
            monthlyCost: number_to_currency(@account_page.total_monthly_cost,
              precision: 2),
          )
